{% extends 'common/base.html' %}
 {% block content %}
   <table  style="float: left;">
   <tr><td><div id="cpu_info" style="width: 400px;height:300px;"></div></td>
   <td><div id="memory_info" style="width: 400px;height:300px;"></div></td></tr>
   <tr><td><div id="disk_info" style="width: 400px;height:300px;"></div></td>
   <td><div id="per_disk" style="width: 400px;height:300px;"></div></td></tr>
   <tr><td><div id="user_info" style="width: 400px;height:300px;"></div></td>
   <td><div id="net_info" style="width: 400px;height:300px;"></div></td></tr>
   </table>
   <div id="t1" style="width: 1000px;height:300px;"></div>
   {% endblock %}
  {% block js %}
   <script src = "{{url_for('static',filename = 'echart/echarts.js')}}"></script> 
   <script src = "{{url_for('static',filename = 'echart/infogaphic.js')}}"></script> 
   <script type="text/javascript">
        
        var option = {
            title:{
                text:'使用率信息'
            },
            tooltip:{},
            legend:{
                data:['from beijng']
            },
            xAxis:{
                data:['{{time[0][3]}}','{{time[1][3]}}','{{time[2][3]}}','{{time[3][3]}}']
            },
            yAxis:{
	            type : 'value',
                axisLabel : {
                    formatter: '{value}%'
                    }
            },
            series:[{
                name:'cpu使用率',
                type:'line',
                data:[{{time[0][0]}},{{time[1][0]}},{{time[2][0]}},{{time[3][0]}}]
            },{
                name:'空闲内存数',
                type:'line',
                data:[{{time[0][1]}},{{time[1][1]}},{{time[2][1]}},{{time[3][1]}}]
            },{
                name:'内存利用率',
                type:'line',
                data:[{{time[0][2]}},{{time[1][2]}},{{time[2][2]}},{{time[3][2]}}]
            }]
        };
    
        var myChart = echarts.init(document.getElementById('t1'));

     
        myChart.setOption(option);
    </script>
<script type="text/javascript">
        
        var option = {
            title:{
                text:'利用率信息'
            },
            tooltip:{},
            legend:{
                data:['from beijng']
            },
            xAxis:{
                data:["内存利用率","cpu使用率"]
            },
            yAxis:{
	type : 'value',
                    axisLabel : {
                        formatter: '{value}%'
                    }
            },
            series:[{
                name:'total',
                type:'line',
                data:[{{memory}},{{cpu_use}}]
            }]
        };
    
        var myChart = echarts.init(document.getElementById('cpu_info'));

     
        myChart.setOption(option);
    </script>

<script type="text/javascript">
        
        var option = {
            title:{
                text:'本机内存信息'
            },
            tooltip:{},
            legend:{
                data:['from beijng']
            },
            xAxis:{
                data:["空闲内存数","物理内存大小"]
            },
            yAxis:{
						type : 'value',
                    axisLabel : {
                        formatter: '{value}G'
                    }
            },
            series:[{
                name:'total',
                type:'bar',
                data:[{{free}},{{total}}],
                itemStyle:{  normal:{color:'rgb(200,210,99)'}   }  
            }]
        };
    
        var myChart = echarts.init(document.getElementById('memory_info'));

     
        myChart.setOption(option);
    </script>
     <script type="text/javascript">
        
        var option = {
            title:{
                text:'磁盘内存信息'
            },
            tooltip:{},
            legend:{
                data:['from beijng']
            },
            xAxis:{
                data:["磁盘物理内存大小","磁盘已使用的内存数"]
            },
            yAxis:{

						type : 'value',
                    axisLabel : {
                        formatter: '{value}G'
                    }
            },
            series:[{
                name:'C盘',
                type:'bar',
                data: [{{diskinfo1[0]}},{{diskinfo1[1]}}]
            },{
                name:'D盘',
                type:'bar',
                data: [{{diskinfo2[0]}},{{diskinfo2[1]}}]
            },{
                name:'E盘',
                type:'bar',
                data: [{{diskinfo3[0]}},{{diskinfo3[1]}}]
            },{
                name:'F盘',
                type:'bar',
                data: [{{diskinfo4[0]}},{{diskinfo4[1]}}]
            },{
                name:'G盘',
                type:'bar',
                data: [{{diskinfo5[0]}},{{diskinfo5[1]}}]
            }]
        };
       
        var myChart = echarts.init(document.getElementById('disk_info'));

     
        myChart.setOption(option);
    </script>
     <script type="text/javascript">
        
        var option = {
            title:{
                text:'网络信息'
            },
            tooltip:{},
            legend:{
                data:['from beijng']
            },
            xAxis:{
                data:["网络读写字节／包的个数"]
            },
            yAxis:{
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                },
            series:[{
                name:'total',
                type:'bar',
                data:[{{sent}}]
            }]
        };
    
        var myChart = echarts.init(document.getElementById('net_info'));

     
        myChart.setOption(option);
    </script>
   
      <script type="text/javascript">
        
        var option = {
            title:{
                text:'系统用户'
            },
            tooltip:{},
            legend:{
                data:['from beijng']
            },
            xAxis:{
                data:["用户个数"]
            },
            yAxis:{

            },
            series:[{
                name:'total',
                type:'line',
                data:[{{user_count}}]
            }]
        };
    
        var myChart = echarts.init(document.getElementById('user_info'));

     
        myChart.setOption(option);
    </script>
    <script type="text/javascript">
     var option = {
            title:{
                text:'磁盘内存使用率'
            },            
            series:[{
                name:'total',
                type:'pie',    
                radius:'70%', 
                data:[
                    {value:{{diskinfo1[1]}},name:'C盘'},
                    {value:{{diskinfo2[1]}},name:'D盘'},
                    {value:{{diskinfo3[1]}},name:'E盘'},
                    {value:{{diskinfo4[1]}},name:'F盘'},
                    {value:{{diskinfo5[1]}},name:'G盘'}
                ]
            }]
        };
        
    
        var myChart = echarts.init(document.getElementById('per_disk'));

     
        myChart.setOption(option);
    </script>
{% endblock %}