<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/file.css')}}" />
    <title>fabric</title>
</head>
<body>
    <form action="fabric" method="POST">
        <table>
              <tr>
            <td>COMMAND</td>
            <td><div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                            <input type="text" class="form-control" name="command" placeholder="command">
                        </div>
                    </div></td>
            </tr>
            <tr>
					<td>
					<button class="btn btn-success  btn-block" type="submit">
							<b>confirm</b>
						</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <h4 style="color: red"><b>{{ login_err }}</b></h4>
					</td>
				</tr>
        </table>
    </form>
    {{ strr }}
</body>
</html>

