<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zabbix</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/file.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
</head>
<body>
    <table>
        <tr style="background:#C6E2FF">
            <td><a href="/storage_ctrl">进程</a> </td>
            <td><a>|</a> </td>
            <td><a href="performance">性能</a> </td>
            <td><a>|</a> </td>
            <td><a href="zabbix">ZABBIX</a> </td>
        </tr>
    </table>
 <br>
 <div class="form_regist">
		<h1 >请输入相关信息</h1>
		<form id="loginForm" action="zabbix" method="POST">
		  <table >
			  <tr>
			  <!--<td>昵称：</td>-->
			  <td>HOST IP</td>
			  <td><div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="text" class="form-control" name="ip" placeholder="Host ip">
							</div>
						</div></td>
			  </tr>

			  <tr>
				<!--<td>密码：</td>-->
				<td>USERNAME</td>
				<td><div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="text" class="form-control" name="username" placeholder="Username">
							</div>
						</div></td>
				</tr>
			 <tr>
				<!--<td>密码：</td>-->
				<td>PASSWORD</td>
				<td><div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="password" class="form-control" name="pwd" placeholder="Password">
							</div>
						</div></td>
				</tr>
              <tr>
				<!--<td>密码：</td>-->
				<td>CONTENT</td>
				<td><div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
								<input type="text" class="form-control" name="content" placeholder="Method">
							</div>
						</div></td>
				</tr>
				<tr>
					<td>
					<button class="btn btn-success  btn-block" type="submit">
							<b>confirm</b>
						</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <h4 style="color: red"><b>{{ login_err }}</b></h4>
					</td>
				</tr>
		   </table>
		</form>
		</div>
        <form>
            <table>
                {% for key,value in info.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        </form>
</body>
</html>