{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block page_content %}
    <table class="table table-bordered">
    <tr>
        <th>作者</th>
        <th>书名</th>
        <th>出版社</th>
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
            </tr>
        {% endfor %}
    </table>
        <table class="table table-bordered">
    <tr>
        <!--<th>作者</th>-->
        <th>name</th>
        <th>status</th>
    </tr>
        {% for i in pro_res %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <!--<td>{{ i[2] }}</td>-->
            </tr>

        {% endfor %}
    </table>

{% endblock %}
